
p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}
@font-face {
  font-family: "Inter";
  src: url("/public/Fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/public/Fonts/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
   font-family: "Inter";
  src: url("/public/Fonts/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
    font-family: "Inter";
  src: url("/public/Fonts/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
}




@font-face {
  font-family: "DMSans";
  src: url("/public/Fonts/DMSans_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DMSans";
  src: url("/public/Fonts/DMSans_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DMSans";
  src: url("/public/Fonts/DMSans_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "DMSans";
  src: url("/public/Fonts/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
}





@font-face {
  font-family: "DMSans";
  src: url("/public/Fonts/DMSans_24pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}



@font-face {
  font-family: "PlusJakartaSans";
  src: url("/public/Fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "PlusJakartaSans";
  src: url("/public/Fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
}





@font-face {
  font-family: "PlusJakartaSans";
  src: url("/public/Fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}


@font-face {
  font-family: "PlusJakartaSans";
  src: url("/public/Fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
}